<div class="navbar">
  <div class="navbar-content">
    <div class="brand">
      <h1>DAILY JOURNAL</h1>
    </div>
    <a href="/compose">New Blog Post</a>
    <div class="nav">
      <a href="/">HOME</a>
      <a href="/about">ABOUT ME</a>
      <a href="/contact">CONTACT ME</a>
    </div>
  </div>
</div>
