<% layout("/layouts/boilerplate") %>
<div class="page">
  <h1>Compose</h1>
  <form class="blog-form" action="/compose" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="post[title]" autocomplete="off" />
    <label for="post">Post</label>
    <textarea name="post[text]" id="post"></textarea>
    <br />
    <button>Publish</button>
  </form>
</div>
