<% layout('/layouts/boilerplate') %>
<h1>Get your weather report</h1>
<form action="/weather" method="POST">
  <label for="location">Enter location:</label>
  <input type="text" name="location" id="location" placeholder="location" />
  <button>Get Weather</button>
</form>
